.git
**/.git
**/node_modules
pets-api/vendor
pets-api/storage/logs
pets-api/storage/framework/cache
pets-api/storage/framework/sessions
pets-api/storage/framework/views
pets-api/bootstrap/cache
**/.env
**/.env.*
*.log
pets-api/tests
pets-api/README.md
pets-api/phpunit.xml
.github
pets/build
pets/android
pets/ios
pets/macos
pets/linux
pets/windows
